---
title: Verification
apple_id: DTS10000470
resource_type: Sample Code
platform: macOS
topic: Data Management
technology: CoreServices
published: '2004-01-23'
source_url: https://developer.apple.com/library/archive/samplecode/Verification/Introduction/Intro.html
archived_at: '2026-07-18T03:27:47.485386Z'
---
> 导航：[总目录](../../README.md) · [samplecode](../../_indexes/samplecode.md)


[Next](main.m.md)

# Verification

|  |  |
| --- | --- |
| __Last Revision:__ | Version 1.0, 2004-01-23 Objective-C example which demonstrates how to provide custom data verification for data written to disc. |
| __Build Requirements:__ |  |
| __Runtime Requirements:__ | Mac OS X Mac OS X 10.2 or later |

Verification is a more in depth Objective-C example which demonstrates how to provide custom data verification for data written to disc. Requirements: Mac OS X 10.2 or later Keywords: DiscRecording CD Verification

[Next](main.m.md)

